<section class="section" id="home">
  <div class="container">
    <div class="logo">
      <div><img src="assets/images/logo.svg" alt="logo"></div>
    </div>
    <nav class="nav">
      <a class="link" href="#">Home</a>
      <a class="link" href="#">About Us</a>
      <a class="link" href="#">What We Do</a>
      <a class="link" href="#">Contact Us</a>
    </nav>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">What we do</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our history</a></li>
              <li><a href="#">Contact us</a></li>
              <p>Service</p>
              <li>Training and Implementation</li>
              <li>Cyber Consultants</li>
              <li>Consultancy and brand protection</li>
              <li>Software</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
