<section class="section">
  <div class="container">
    <div class="content">
      <div class="title">Never Caught
        Off-Guard Again</div>
      <div class="text">We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.</div>
      <div class="button"> <button class="button-content" type="button">Learn More</button></div>
      <div class="scroll" (click)="onDownPage()">
        <div class="scroll-text">Scroll</div>
        <div class="scroll-icon">
          <svg width="16" height="31" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.29289 30.7071C7.68342 31.0976 8.31658 31.0976 8.70711 30.7071L15.0711 24.3431C15.4616 23.9526 15.4616 23.3195 15.0711 22.9289C14.6805 22.5384 14.0474 22.5384 13.6569 22.9289L8 28.5858L2.34314 22.9289C1.95262 22.5384 1.31946 22.5384 0.928931 22.9289C0.538407 23.3195 0.538407 23.9526 0.928931 24.3431L7.29289 30.7071ZM7 -4.37114e-08L7 30L9 30L9 4.37114e-08L7 -4.37114e-08Z" fill="black"/>
            </svg>
        </div>
      </div>
    </div>
    <div class="content-images">
      <div class="images"><img class="img" src="assets/images/space-helmetf.png" alt="space helm"></div>
    </div>
  </div>
</section>
